<nav class="fixed-top inter-my">
    <div class="container py-3 d-flex align-items-center justify-content-between">
        <div>
            <a class="menu-items" href="/">Memorise <i class="fa-solid fa-layer-group"></i></a>
        </div>
        <div>
            <a class="menu-items small <%= pageName === 'home' ? 'focusNavItem' : '' %>" href="/"><i class="fa-solid fa-house me-1"></i>Home</a>
            <a class="menu-items small ms-3 <%= pageName === 'learn' ? 'focusNavItem' : '' %>" href="/learn"><i class="fa-solid fa-graduation-cap me-1"></i>Learn</a>
            <a class="menu-items small ms-3 <%= pageName === 'write' ? 'focusNavItem' : '' %>" href="/write"><i class="fa-solid fa-pen-nib me-1"></i></i>Write</a>
            <a class="menu-items small ms-3 <%= pageName === 'words' ? 'focusNavItem' : '' %>" href="/words"><i class="fa-solid fa-book-bookmark me-1"></i></i>Words</a>
            <a class="menu-items small ms-3 <%= pageName === 'dashboard' ? 'focusNavItem' : '' %>" href="/dashboard"><i class="fa-solid fa-chart-line me-1"></i></i>Dashboard</a>
            <a class="menu-items small ms-3 <%= pageName === 'contact' ? 'focusNavItem' : '' %>" href="/contact"><i class="fa-solid fa-envelope me-1"></i>Contact</a>
        <% if(!userIN) { %>
            <a class="menu-items btn-collapse ms-3 small" href="/register"><i class="fa-solid fa-plus"></i> Register</a>
            <a class="menu-items btn-collapse ms-1 small" href="/login"><i class="fa-solid fa-user-lock"></i> Login</a>
        <% } %>
        <% if(userIN) { %>
            <a class="menu-items btn-collapse-user ms-3 point-it small"><i class="fa-solid fa-user-graduate"></i> <%= username %></a>
            <a class="menu-items btn-collapse-logout btn-collapse-red ms-3 small" href="/users/logout">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        <% } %>
        </div>
    </div>
</nav>
<hr class="my-hr"></hr>