<%- include('partials/_header'); %>

<body class="inter-my">
    <%- include('partials/_navigation'); %>

    <div class="container mt-4 heigh-contact">
        <div class="row mt-4 align-items-center">
            <div class="mt-4 d-flex flex-column align-items-center justify-content-center">
                <h3 class="mt-4">Get In Touch With Me</h3>
                <span>If you have any questions, feedback, or just want to say hi, you can contact me here. I’ll respond as soon as I can.</span>

                <form action="contact/contact-mail" method="POST" class="mt-5">
                    <div class="contact-form shadow mb-4">
                        <div class="d-flex">
                            <input id="nameInput" type="text" name="name" placeholder="Your Name" class="contact-input me-4" value="<%= username ? username : '' %>" required>
                            <input id="emailInput" type="email" name="email" placeholder="Your Mail" class="contact-input ms-4" value="<%= useremail ? useremail : '' %>" required>
                        </div>
                        <textarea name="message" rows="12" name="" id="" class="contact-input mt-3 w-100" placeholder="Give me more details.." required></textarea>
                        <button id="sendMailBtn" class="btn btn-lg btn-warning mt-2"><i class="fa-solid fa-dove"></i> Send</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

    <script src="/contact.js"></script>
    <%- include('partials/_footer'); %>