<%- include('partials/_header'); %>

<body class="inter-my">
    <%- include('partials/_navigation'); %>

    <div class="container mt-4 mb-2">
        <div class="row mt-4">
            <div class="col-12 mt-4 dashboard-title mb-2">
                Dashboard
            </div>
            <hr>
        </div>
    </div>
     
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-2 dash-cover-timeToLearn rounded-1 d-flex flex-column me-4 p-2">
                <div>Time to Repeat</div>
                <div class="d-flex align-items-center p-1">
                    <i class="fa-solid fa-dumbbell fa-3x me-1"></i>
                    <div class="wordsNeedLearn dash-counter"></div>
                </div>
            </div>
            <div class="col-2 dash-cover-writed rounded-1 d-flex flex-column me-4 p-2">
                <div>Writed</div>
                <div class="d-flex align-items-center p-1">
                    <i class="fa-solid fa-pencil fa-3x"></i>
                    <div class="writtenWords dash-counter"></div>
                </div>
            </div>
            <div class="col-2 dash-cover-mastered rounded-1 d-flex flex-column me-4 p-2">
                <div>Mastered</div>
                <div class="d-flex align-items-center p-1">
                    <i class="fa-solid fa-meteor fa-3x"></i>
                    <div class="masteredWords dash-counter"></div>
                </div>
            </div>
            <div class="col-2 dash-cover-totalWords rounded-1 d-flex flex-column me-4 p-2">
                <div>Total Words</div>
                <div class="d-flex align-items-center p-1">
                    <i class="fa-solid fa-person-hiking fa-3x"></i>
                    <div class="totalWords dash-counter"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- chart & profile-->
    <div class="container mb-4">
        <div class="row justify-content-center chart-border mt-4">
            <!-- chart -->
            <div class="col-8 d-flex flex-column justify-content-center border-right">
                <div class="dropdown">
                    <button id="periodBtn" class="d-flex justify-content-between align-items-center btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="min-width: 120px;">
                        Weekly
                    </button>
                    <ul class="dropdown-menu">
                        <li class="point-it"><a id="weekly-drop" class="dropdown-item">Weekly</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li class="point-it"><a id="monthly-drop" class="dropdown-item">Monthly</a></li>
                        <li class="point-it"><a id="yearly-drop" class="dropdown-item">Yearly</a></li>
                    </ul>
                </div>
                <div class="mb-4 me-3" style="min-height: 410px;">
                    <canvas id="weeklyChart" width="400" height="200"></canvas>
                    <canvas id="monthlyChart" class="d-none" width="400" height="200"></canvas>
                    <canvas id="yearlyChart" class="d-none" width="400" height="200"></canvas>
                </div>
            </div>
            <!-- profile -->
            <div class="col-4 align-items-center d-flex flex-column mt-4">
                <div class="row">
                    <div class="col-4">
                        <i class="fa-solid fa-address-card text-theme-green-me fa-10x mb-2"></i>
                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-user text-theme-green-me fa-lg me-2"></i>
                            <div><%= username %></div>
                        </div>
                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-envelope text-theme-green-me fa-lg me-2"></i>
                            <div> <%= email %></div>
                        </div>
                    </div>
                </div>
                
           
            </div>
        </div>
    </div>
    <!-- leaderboard -->
    <div class="container mb-4">
        <div class="row text-center mb-2 justify-content-center">
            <div class="col-12">
                <div class="dash-leaderboard-title mb-2">
                    <i class="fa-solid text-writed fa-trophy"></i>
                    Top Learners
                    <i class="fa-solid text-mastered fa-trophy"></i>
                </div>
                <div class="row justify-content-around">
                    <!-- writed -->
                    <div class="col-6 leaderboard-border-writed rounded rounded-end-0">
                        <div class="write-title mt-2">Written</div>
                        <div class="row mt-3">
                            <div class="col-4 text-writed">Daily
                                <!-- daily writed -->
                                <hr>
                                <div class="d-flex user-border-writed mb-1 justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div>1.</div>
                                        <div>Semih Aslanh </div>
                                    </div>
                                    <div class="d-flex ms-2  align-items-center text-writed">
                                        <i class="fa-solid fa-pencil"></i>
                                        <div class="ms-1">150</div>
                                    </div> 
                                </div>
                                <div class="d-flex user-border-writed mb-1 justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div>2.</div>
                                        <div>Semih Aslanh </div>
                                    </div>
                                    <div class="d-flex ms-2  align-items-center text-writed">
                                        <i class="fa-solid fa-pencil"></i>
                                        <div class="ms-1">150</div>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-4 text-writed">Monthly
                                <!-- monthly writed -->
                                <hr>
                                <div class="d-flex user-border-writed mb-1 justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div>1.</div>
                                        <div>Semih Aslanh </div>
                                    </div>
                                    <div class="d-flex ms-2  align-items-center text-writed">
                                        <i class="fa-solid fa-pencil"></i>
                                        <div class="ms-1">150</div>
                                    </div> 
                                </div>
                                <div class="d-flex user-border-writed mb-1 justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div>1.</div>
                                        <div>Semih Aslanh </div>
                                    </div>
                                    <div class="d-flex ms-2  align-items-center text-writed">
                                        <i class="fa-solid fa-pencil"></i>
                                        <div class="ms-1">150</div>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-4 text-writed">Yearly
                                <!-- yearly writed -->
                                <hr>
                                <div class="d-flex user-border-writed mb-1 justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div>1.</div>
                                        <div>Semih Aslanh </div>
                                    </div>
                                    <div class="d-flex ms-2  align-items-center text-writed">
                                        <i class="fa-solid fa-pencil"></i>
                                        <div class="ms-1">150</div>
                                    </div> 
                                </div>
                                <div class="d-flex user-border-writed mb-1 justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div>2.</div>
                                        <div>Semih Aslanh </div>
                                    </div>
                                    <div class="d-flex ms-2  align-items-center text-writed">
                                        <i class="fa-solid fa-pencil"></i>
                                        <div class="ms-1">150</div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- mastered -->
                    <div class="col-6 leaderboard-border-mastered rounded rounded-start-0">
                        <div class="mastered-title mt-2">Mastered</div>
                        <div class="row mt-3">
                            <div class="col-4 text-mastered">Daily
                                <!-- daily mastered -->
                                <hr>
                                <div class="d-flex flex-column align-items-center">
                                    <div class="d-flex user-border-mastered mb-1 justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div>1.</div>
                                            <div>Semih Aslanh </div>
                                        </div>
                                        <div class="d-flex ms-2  align-items-center text-mastered">
                                            <i class="fa-solid fa-meteor"></i>
                                            <div class="ms-1">150</div>
                                        </div> 
                                    </div>
                                    <div class="d-flex user-border-mastered justify-content-between w-100">
                                        <div class="d-flex align-items-center">
                                            <div>2.</div>
                                            <div>Semih Aslanh </div>
                                        </div>
                                        <div class="d-flex ms-2 align-items-center text-mastered">
                                            <i class="fa-solid fa-meteor"></i>
                                            <div class="ms-1">150</div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 text-mastered">Monthly
                                <!-- monthly mastered -->
                                <hr>
                                <div class="d-flex user-border-mastered mb-1 justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div>1.</div>
                                        <div>Semih Aslanh </div>
                                    </div>
                                    <div class="d-flex ms-2  align-items-center text-mastered">
                                        <i class="fa-solid fa-meteor"></i>
                                        <div class="ms-1">150</div>
                                    </div> 
                                </div>
                                <div class="d-flex user-border-mastered mb-1 justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div>2.</div>
                                        <div>Semih Aslanh </div>
                                    </div>
                                    <div class="d-flex ms-2  align-items-center text-mastered">
                                        <i class="fa-solid fa-meteor"></i>
                                        <div class="ms-1">150</div>
                                    </div> 
                                </div>
                                
                            </div>
                               
                            <div class="col-4 text-mastered">Yearly
                                <!-- yearly mastered -->
                                <hr>
                                <div class="d-flex align-items-center">
                                    <div class="d-flex user-border-mastered mb-1 justify-content-between w-100">
                                        <div class="d-flex align-items-center">
                                            <div>1.</div>
                                            <div>Semih </div>
                                        </div>
                                        <div class="d-flex ms-2 align-items-center text-mastered">
                                            <i class="fa-solid fa-meteor"></i>
                                            <div class="ms-1">150</div>
                                        </div> 
                                    </div>
                                </div>
                                <div class="d-flex user-border-mastered mb-1 justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div>1.</div>
                                        <div>Semih Aslanh </div>
                                    </div>
                                    <div class="d-flex ms-2  align-items-center text-mastered">
                                        <i class="fa-solid fa-meteor"></i>
                                        <div class="ms-1">150</div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
           
        </div>
    </div>

<!--     
<canvas id="wordsChart" width="400" height="200"></canvas>



    <script>


        const ctx = document.getElementById('wordsChart');
        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Learned', 'Learning'],
                datasets: [{
                    data: [120, 45], // örnek: 120 kelime öğrenildi, 45 öğreniliyor
                    backgroundColor: ['#28a745', '#ffc107']
                }]
            },
            options: {
            responsive: false,   // büyüyüp küçülmesin
            maintainAspectRatio: false
            }
        });
</script>
-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/dashboard.js"></script>
<script type="module" src="/js/dashboard.js"></script>
<%- include('partials/_footer'); %>
