<%- include('partials/_header'); %>

<body>
    <%- include('partials/_navigation'); %>
    div
    <div class="container mt-5 mb-5 word-container">
        <div class="row mt-5 justify-content-between">
            <div class="col-8 word-border d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <h2 class="ms-2">Words</h2> 
                    <div class="d-flex">
                        <input type="text" placeholder="Search.." class="search-bar"><button class="btn btn-warning rounded-0"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success btn-sm me-2 ms-2"><i class="fa-solid fa-plus"></i> New Word</button>
                    </div> 
                </div>
                
                <table class="table table-hover mt-3">
                    <thead class="table-success">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Word</th>
                          <th scope="col">Mean</th>
                          <th scope="col">Part of speech</th>
                          <th scope="col">Phonetics</th>
                          <th scope="col">Progress</th>
                          <th scope="col">List</th>
                          <th scope="col"></th>
                          <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for(let i=0; i< words.length; i++) { %>
                        <tr>
                          <th scope="row"><%= i+1 %></th>
                          <td><%= words[i].word %></td>
                          <td><%= words[i].meaning %></td>
                          <td><%= words[i].partOfSpeech %></td>
                          <td><%= words[i].phonetics %></td>
                          <td><%= words[i].progress %></td>
                          <td>Movies</td>
                          <td><button class="btn btn-warning btn-sm"><i class="fa-regular fa-pen-to-square"></i> Edit</button></td>
                          <td><button class="btn btn-danger btn-sm"><i class="fa-regular fa-trash-can"></i> Delete</button></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="col-3 word-border">
                <div class="d-flex justify-content-between">
                    <h2 class="ms-2">Lists</h2> 
                    <button class="btn btn-warning btn-sm me-2"><i class="fa-solid fa-plus"></i> New List</button>
                </div>
                <table class="table table-hover mt-3">
                    <thead class="table-warning">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col"></th>
                          <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Movies</td>
                          <td><button class="btn btn-warning btn-sm"><i class="fa-regular fa-pen-to-square"></i></button></td>
                          <td><button class="btn btn-danger btn-sm"><i class="fa-regular fa-trash-can"></i></button></td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Books</td>
                          <td><button class="btn btn-warning btn-sm"><i class="fa-regular fa-pen-to-square"></i></button></td>
                          <td><button class="btn btn-danger btn-sm"><i class="fa-regular fa-trash-can"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include('partials/_footer'); %>

    <!-- New Word Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3">
                <div class="modal-body p-3">
                    <form method="POST" action="/words/addWord">
                        <div class="d-flex flex-column justify-content-center p-3">
                        <input type="text" name="word" placeholder="Word" class="mb-4 p-3">
                        <input type="text" name="meaning" placeholder="Meaning" class="mb-4 p-3">
                        <input type="text" name="partOfSpeech" placeholder="Part of Speech" class="mb-4 p-3">
                        <input type="text" name="phonetics" placeholder="Phonetics" class="mb-4 p-2">
                        <select type="text" name="list" placeholder="List" class="mb-4 p-3">
                            <option>Not selected</option>
                            <option value="">Movies</option>
                            <option value="">Books</option>

                        </select>
                        </div>
                        <div>
                            <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success rounded-0">ADD</button>
                        </div>
                    </form>
                </div>
            </div>     
        </div>
    </div>

</body>