<%- include('partials/_header'); %>

<body>
    <%- include('partials/_navigation'); %>
    div
    <div class="container mt-5 mb-5 word-container px-0">
        <div class="row mt-5 justify-content-between px-0">
            <!-- WORDS -->
            <div class="col-8 word-border dashed-right border-end-0 rounded-end-0 d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <h2 class="ms-2">Words</h2> 
                    <div class="d-flex">
                        <input type="text" placeholder="Search.." class="search-bar"><button class="btn btn-warning rounded-0"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success btn-sm me-2 ms-2"><i class="fa-solid fa-plus"></i> New Word</button>
                    </div> 
                </div>
                
                <table class="table table-hover mt-3">
                    <thead class="table-success">
                        <tr>
                          <th> </th>
                          <th scope="col">#</th>
                          <th scope="col">Word</th>
                          <th scope="col">Mean</th>
                          <th scope="col">Part of speech</th>
                          <th scope="col">Phonetics</th>
                          <th scope="col">Progress</th>
                          <th scope="col">Category</th>
                          <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for(let i=0; i< words.length; i++) { %>
                        <tr>
                          <td> </td>
                          <th scope="row"><%= i+1 %></th>
                          <td class="text-success"><%= words[i].word %></td>
                          <td class="text-success"><%= words[i].meaning %></td>
                          <td class="text-success"><%= words[i].partOfSpeech %></td>
                          <td class="text-success"><%= words[i].phonetics %></td>
                          <td class="text-success"><%= words[i].progress %></td>
                          <td class="text-success"><%= words[i].category ? words[i].category.name : "no category" %></td>
                          <td>
                            <a data-bs-toggle="modal" data-bs-target="#editModal-<%= words[i]._id %>" class="btn btn-warning btn-sm"><i class="fa-regular fa-pen-to-square"></i> Edit</a>
                            <a href="/words/delete/<%= words[i]._id %>" class="btn btn-danger btn-sm"><i class="fa-regular fa-trash-can"></i> Delete</a>
                          </td>
                        </tr>

                        <!-- Edit Word Modal -->
                        <div class="modal fade" id="editModal-<%= words[i]._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content p-3">
                                    <div class="modal-body p-3">
                                        <form method="POST" action="/words/editWord/<%= words[i]._id %>?_method=PUT">
                                            <div class="d-flex flex-column justify-content-center p-3">
                                            <input type="text" value="<%= words[i].word %>" name="word" placeholder="Word" class="mb-4 p-3">
                                            <input type="text" value="<%= words[i].meaning %>" name="meaning" placeholder="Meaning" class="mb-4 p-3">
                                            <input type="text" value="<%= words[i].partOfSpeech %>" name="partOfSpeech" placeholder="Part of Speech" class="mb-4 p-3">
                                            <input type="text" value="<%= words[i].phonetics %>" name="phonetics" placeholder="Phonetics" class="mb-4 p-2">
                                            <select type="text" name="category" placeholder="Category" class="mb-4 p-3">                        
                                                <% for(let j = 0; j< categories.length; j++) { %>
                                                <option <%= words[i].category._id.equals(categories[j]._id) ? "selected" : " " %> value="<%= categories[j]._id %>"><%= categories[j].name %></option>
                                                <% } %>

                                            </select>
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-warning rounded-0">UPDATE</button>
                                                <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>     
                            </div>
                        </div>
                    <% } %>
                    </tbody>
                </table>
                <% if(!userIN) { %>
                <h2 class="d-flex justify-content-center mt-5">You dont have permission here, Please sign in.</h2>
                <% } %>
            </div>

            <!-- CATEGORIES -->
            <div class="col-4 word-border dashed-left border-start-0 rounded-start-0">
                <div class="d-flex justify-content-between">
                    <h2 class="ms-2">Categories</h2> 
                    <button data-bs-toggle="modal" data-bs-target="#newCategoryModal" class="btn btn-warning btn-sm me-2"><i class="fa-solid fa-plus"></i> New Category</button>
                </div>
                <table class="table table-hover mt-3">
                    <thead class="table-warning">
                        <tr>
                          <th></th>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="point-it">
                          <td> </td>
                          <th scope="row">1</th>
                          <td>
                            <a class="text-decoration-none text-warning-emphasis underline" href="/words">All Categories</a>
                          </td>
                          <td>
                          </td>
                        </tr>
                        <% for(let i=0; i< categories.length; i++) { %>
                        <tr class="point-it">
                          <td> </td>
                          <th scope="row"><%= i+2 %></th>
                          <td>
                            <a class="text-decoration-none text-warning-emphasis underline" href="/words/?categories=<%= categories[i].slug %>"><%= categories[i].name %></a>
                          </td>
                          <td>
                            <% if(categories[i].name !== 'Uncategorized') { %>
                            <a data-bs-toggle="modal" data-bs-target="#editCategoryModal-<%= categories[i]._id %>" class="btn btn-warning btn-sm"><i class="fa-regular fa-pen-to-square"></i>Edit</a>
                            <a href="/words/deleteCategory/<%= categories[i]._id %>" class="btn btn-danger btn-sm"><i class="fa-regular fa-trash-can"></i>Delete</a>
                            <% } %>
                          </td>
                        </tr>

                        <!-- Edit Category Modal -->
                        <div class="modal fade" id="editCategoryModal-<%= categories[i]._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content p-3">
                                    <div class="modal-body p-3">
                                        <form method="POST" action="/words/editCategory/<%= categories[i]._id %>?_method=PUT">
                                            <div class="d-flex flex-column justify-content-center p-3">
                                            <input type="text" value="<%= categories[i].name %>" name="name" placeholder="Category" class="mb-4 p-3">
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-warning rounded-0">UPDATE</button>
                                                <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>     
                            </div>
                        </div>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <%- include('partials/_footer'); %>

    <!-- New Word Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3">
                <div class="modal-body p-3">
                    <form method="POST" action="/words/addWord">
                        <div class="d-flex flex-column justify-content-center p-3">
                        <input type="text" name="word" placeholder="Word" class="mb-4 p-3">
                        <input type="text" name="meaning" placeholder="Meaning" class="mb-4 p-3">
                        <input type="text" name="partOfSpeech" placeholder="Part of Speech" class="mb-4 p-3">
                        <input type="text" name="phonetics" placeholder="Phonetics" class="mb-4 p-3">
                        <select type="text" name="category" placeholder="Category" class="mb-4 p-3">
                        <% for(let i = 0; i< categories.length; i++) { %>
                            <option value="<%= categories[i]._id %>"><%= categories[i].name %></option>
                        <% } %>
                        </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success rounded-0">ADD</button>
                            <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>     
        </div>
    </div>

    <!-- New Category Modal -->
    <div class="modal fade" id="newCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3">
                <div class="modal-body p-3">
                    <form method="POST" action="/words/addCategory">
                        <div class="d-flex flex-column justify-content-center p-3">
                            <input type="text" name="name" placeholder="New Category" class="mb-4 p-3">
                        </div>
                        <div>
                            <button type="submit" class="ms-3 btn btn-warning rounded-0">ADD</button>
                            <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>     
        </div>
    </div>

</body>