<%- include('partials/_header'); %>
<body class="inter-my">
    <%- include('partials/_navigation'); %>
    div
    <div class="container mt-5 word-container px-0">
        <div class="row mt-2 justify-content-between px-0">

            <!-- WORDS -->
            <div class="col-12 word-border rounded-end-0 rounded-start-1 d-flex flex-column">
                <div class="d-flex justify-content-between">
                    <h2 class="ms-2">Words</h2> 
                    <div class="d-flex">
                        <div class="dropdown align-items-center d-flex me-2">
                            <button class="btn btn-info dropdown-toggle d-flex justify-content-between align-items-center" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="min-width: 200px; overflow: hidden; white-space:nowrap;">
                                <div class="d-flex align-items-center">
                                    <i class="fa-solid fa-boxes-stacked me-2"></i>
                                    <span style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; max-width: 130px;" title="<%= categorySlug ? categories.find(cat => cat.slug === categorySlug).name : 'All Categories' %>" data-bs-toggle="tooltip" data-bs-placement="top">
                                        <%= categorySlug ? categories.find(cat => cat.slug === categorySlug).name : 'All Categories' %>
                                    </span>
                                    
                                </div>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="d-flex align-items-center px-2">
                                    <i class="fa-solid fa-boxes-stacked"></i>
                                    <a class="dropdown-item" href="/words">All</a>
                                </li>
                                <hr>
                                <% for(let i=0; i< categories.length; i++) { %>
                                <li class="d-flex align-items-center px-2">
                                    <i class="fa-solid fa-boxes-stacked me-auto"></i>
                                    <a class="dropdown-item" href="/words/?categories=<%= categories[i].slug %>"><%= categories[i].name %></a>
                                    <% if(categories[i].name !== 'Uncategorized') { %>
                                    <a data-bs-toggle="modal" data-bs-target="#editCategoryModal-<%= categories[i]._id %>" class="categoryEditBtn d-none btn btn-warning rounded-end-0" style="padding: 0px;" ><i class="fa-regular fa-pen-to-square"></i></a>
                                    <a href="/words/deleteCategory/<%= categories[i]._id %>" onclick="return confirm('Are you sure, you want to delete this category?')" class="categoryDeleteBtn d-none btn btn-danger rounded-start-0" style="padding: 0px;" ><i class="fa-regular fa-trash-can"></i></a>
                                    <% } %>
                                </li>

                                <!-- Edit Category Modal -->
                                <div class="modal fade" id="editCategoryModal-<%= categories[i]._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content p-3">
                                            <div class="modal-body p-3">
                                                <form method="POST" action="/words/editCategory/<%= categories[i]._id %>?_method=PUT">
                                                    <div class="d-flex flex-column justify-content-center p-3">
                                                    <input type="text" value="<%= categories[i].name %>" name="name" placeholder="Category" class="mb-4 p-3">
                                                    </div>
                                                    <div>
                                                        <button type="submit" class="btn btn-warning rounded-0">UPDATE</button>
                                                        <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>     
                                    </div>
                                </div>
                                    
                                <% } %>
                                <hr>
                                <li class="d-flex align-items-center px-2">
                                    <button data-bs-toggle="modal" data-bs-target="#newCategoryModal" class="dropdown-item" href="#">
                                        <i class="fa-solid fa-plus"></i> New
                                    </button>
                                </li>
                                <li class="d-flex align-items-center px-2 categoryEditHeadBtn"><a class="dropdown-item justify-content-center no-close" href=""><i class="fa-solid fa-sliders"></i> Edit</a></li>
                            </ul>
                        </div>

                        <form method="GET" action="/words" class="align-items-center d-flex rounded-start-1 rounded-end-0">
                            <input type="text" name="searchWord" value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>" placeholder="Search.." class="search-bar rounded-end-0">
                            <button type="submit" class="btn btn-warning rounded-0 rounded-end-2">
                                <i class="fa-solid fa-magnifying-glass small"></i>
                            </button>
                        </form>
                        <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success btn-sm me-2 ms-2"><i class="fa-solid fa-plus"></i> New Word</button>
                        <button class="me-3 wordEditHeadBtn btn btn-warning btn-sm"><i class="fa-solid fa-sliders"></i> Edit Words</button>
                    </div> 
                </div>
    
                <table class="table table-sm table-hover mt-1">
                    <thead class="table-success">
                        <tr>
                          <th></th>
                          <th scope="col">#</th>
                          <th scope="col">Word</th>
                          <th scope="col">Mean</th>
                          <th scope="col">Part of speech</th>
                          <th scope="col">Phonetics</th>
                          <th scope="col">Progress</th>
                          <th scope="col"><i class="fa-solid fa-boxes-stacked"></i> Category</th>
                          <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for(let i=0; i< words.length; i++) { %>
                        <tr>
                          <td></td>
                          <th scope="row"><%= i+1 %></th>
                          <td class="text-success small"><%= words[i].word %></td>
                          <td class="text-success small text-truncate" style="max-width: 100px;" title="<%= words[i].meaning %>" data-bs-toggle="tooltip" data-bs-placement="top"><%= words[i].meaning %></td>
                          <td class="text-success small text-truncate" style="max-width: 10px;" title="<%= words[i].partOfSpeech %>" data-bs-toggle="tooltip" data-bs-placement="top"><%= words[i].partOfSpeech %></td>
                          <td class="text-secondary small text-truncate" style="max-width: 100px;" title="<%= words[i].phonetics ? '/'+words[i].phonetics+'/' : '' %>"><%= words[i].phonetics ? '/'+words[i].phonetics+'/' : '' %></td>
                          <% 
                            const progressMap = {
                                12: { class: "color-remembered", label: "Re-learn", border: "border-remembered" },
                                0: { class: "color-new", label: "New", border: "border-new" },
                                1: { class: "color-remembered", label: "Learner 1", border: "border-remembered" },
                                2: { class: "color-remembered", label: "Learner 2", border: "border-remembered" },
                                3: { class: "color-remembered", label: "Learner 3", border: "border-remembered" },
                                4: { class: "color-remembered", label: "Learner 4", border: "border-remembered" },
                                5: { class: "color-mastered", label: "Mastered 1", border: "border-mastered" },
                                6: { class: "color-mastered", label: "Mastered 2", border: "border-mastered" },
                                7: { class: "color-mastered", label: "Mastered 3", border: "border-mastered" },
                                8: { class: "color-mastered", label: "Mastered 4", border: "border-mastered" },
                                9: { class: "color-mastered", label: "Mastered 5", border: "border-mastered" },
                                10: { class: "color-mastered", label: "Expert", border: "border-mastered" },
                                11: { class: "color-mastered", label: "Proficient", border: "border-mastered" },
                            };
                            if (words[i].progress == 0 && words[i].newAdded == false) {
                                words[i].progress = 12;
                            }
                            const p = progressMap[words[i].progress];
                           %>
                          <td class="<%= p.class %>">
                            <span class="<%= p.border %> small">
                                <i class="fa-solid fa-circle small"></i> <%= p.label %>
                            </span>
                          </td>
                          
                          <td class="text-success small"><%= words[i].category ? words[i].category.name : "no category" %></td>
                          <td class="py-0 px-1">
                            <div class="d-flex align-items-center">
                                <a data-bs-toggle="modal" data-bs-target="#editModal-<%= words[i]._id %>" class="wordEditBtn rounded-end-0 px-1 padding-0 mt-1 d-none word-edit-btn-group btn btn-warning btn-sm"><i class="fa-regular fa-pen-to-square small"></i> Update</a>
                                <a href="/words/delete/<%= words[i]._id %>" onclick="return confirm('Are you sure, you want to delete this word?')" class="mt-1 px-1 padding-0 rounded-start-0 word-edit-btn-group wordDeleteBtn d-none btn btn-danger btn-sm"><i class="fa-regular fa-trash-can small"></i> Delete</a>
                            </div>
                            
                          </td>
                        </tr>

                        <!-- Edit Word Modal -->
                        <div class="modal fade" id="editModal-<%= words[i]._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content p-3">
                                    <div class="modal-body p-3">
                                        <form method="POST" action="/words/editWord/<%= words[i]._id %>?_method=PUT">
                                            <div class="d-flex flex-column justify-content-center p-3">
                                                <div class="d-flex align-items-center">
                                                    <i class="fa-solid fa-language fa-2x mb-4 me-2"></i>
                                                    <input type="text" value="<%= words[i].word %>" name="word" placeholder="Word" class="mb-4 p-3 w-100">
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <i class="fa-solid fa-signs-post fa-2x mb-4 me-2"></i>
                                                    <input type="text" value="<%= words[i].meaning %>" name="meaning" placeholder="Meaning" class="mb-4 p-3 w-100">
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <i class="fa-solid fa-ear-listen fa-2x mb-4 me-2"></i>
                                                    <input type="text" value="<%= words[i].phonetics %>" name="phonetics" placeholder="Phonetics" class="mb-4 p-3 w-100">
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <i class="fa-solid fa-spell-check fa-2x mb-4 me-2"></i>
                                                    <input type="text" value="<%= words[i].partOfSpeech %>" name="partOfSpeech" placeholder="Part of Speech" class="mb-4 p-3 w-100">
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <i class="fa-solid fa-boxes-stacked fa-2x mb-4 me-2"></i>
                                                    <select type="text" name="category" placeholder="Category" class="mb-4 p-3 w-100">                        
                                                    <% for(let j = 0; j< categories.length; j++) { %>
                                                        <option <%= words[i].category._id.equals(categories[j]._id) ? "selected" : " " %> value="<%= categories[j]._id %>"><%= categories[j].name %></option>
                                                    <% } %>
                                                </select>
                                                </div>
                                                
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-warning rounded-0">UPDATE</button>
                                                <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>     
                            </div>
                        </div>
                    <% } %>
                    </tbody>
                </table>
                <% if(!userIN) { %>
                <h2 class="d-flex justify-content-center mt-5">You dont have permission here, Please sign in.</h2>
                <% } %>
            </div>
        </div>
    </div>

    <%- include('partials/_footer'); %>

    <script src="/js/words.js"></script>

    <!-- New Word Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3">
                <div class="modal-body p-3">
                    <form method="POST" action="/words/addWord">
                        <div class="d-flex flex-column justify-content-center p-3">
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-language fa-2x me-2 mb-4"></i>
                                <input type="text" name="word" placeholder="Word" class="mb-4 p-3 w-100">
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-signs-post fa-2x me-2 mb-4"></i>
                                <input type="text" name="meaning" placeholder="Meaning" class="mb-4 p-3 w-100">
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-ear-listen fa-2x me-2 mb-4"></i>
                                <input type="text" name="phonetics" placeholder="Phonetics" class="mb-4 p-3 w-100">
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-spell-check fa-2x me-2 mb-4"></i>
                                <input type="text" name="partOfSpeech" placeholder="Part of Speech" class="mb-4 p-3 w-100">
                            </div>
                            
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-boxes-stacked fa-2x me-2 mb-4"></i>
                                <select type="text" name="category" placeholder="Category" class="mb-4 p-3 w-100">
                                <% for(let i = 0; i< categories.length; i++) { %>
                                    <option value="<%= categories[i]._id %>"><%= categories[i].name %></option>
                                <% } %>
                                </select>
                            </div>
                        
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success rounded-0">ADD</button>
                            <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>     
        </div>
    </div>

    <!-- New Category Modal -->
    <div class="modal fade" id="newCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3">
                <div class="modal-body p-3">
                    <form method="POST" action="/words/addCategory">
                        <div class="d-flex flex-column justify-content-center p-3">
                            <input type="text" name="name" placeholder="New Category" class="mb-4 p-3">
                        </div>
                        <div>
                            <button type="submit" class="ms-3 btn btn-warning rounded-0">ADD</button>
                            <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>     
        </div>
    </div>

</body>

